dash==2.11.1
plotly==5.15.0
pandas==1.5.3
numpy==1.24.4
SQLAlchemy==2.0.19
mysql-connector-python==8.0.33
python-dotenv==1.0.0
gunicorn==21.2.0
networkx==2.8.8
flask-jwt-extended==4.3.1
python-keycloak==2.15.4
requests-toolbelt==0.10.1
